/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.row::before,
.row::after {
  clear: both;
  content: "";
  display: table;
}

body {
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  font-family: "Rubik", sans-serif;
  margin: 0 0 60px 0;
  position: relative;
}

.section-title::after {
  background: #6d214f;
  bottom: -12px;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 50px;
}

/*splash*/

.splash {
  background-image: url("https://images.pexels.com/photos/1449082/pexels-photo-1449082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.splash-inner {
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

.splash i {
  background: #6d214f;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.page-title {
  color: #fff;
  font-variant: small-caps;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;
}

.page-title::after {
  background: #6d214f;
  bottom: -24px;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

.page-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 48px 0 0 0;
}

/*Intro*/

.intro {
  background: #fff;
}

.intro p {
  border-top: 1px solid #6d214f;
  border-bottom: 1px solid #6d214f;
  font-size: 24px;
  margin: 0 auto;
  padding: 48px 0;
  width: 70%;
}

/*About*/

.about {
  background: #f0f0f0;
}

/*skills*/

.skill-left,
.skill-right {
  position: relative;
}

.skill-image {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 50%;
}

.skill-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

.skill-image img:hover {
  transform: scale(1.5);
}

.skill-image img {
  transition: all 1s;
}

/*gallery*/

.gallery-item {
  float: left;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 33.3333%;
}

.gallery-item::before {
  background: black;
  content: "";
  display: none;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}

.gallery-item:hover::before {
  display: block;
}

.gallery-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.image-inner {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-inner p {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.gallery-item:hover .image-inner {
  display: block;
}

.button {
  background: #6d214f;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.button-main {
  cursor: pointer;
  height: 60px;
  letter-spacing: 2px;
  margin-top: 64px;
  text-transform: uppercase;
  width: 200px;
}

/*contact*/

.contact {
  background: #f0f0f0;
}

input,
textarea {
  border: none;
  display: block;
  font-family: "Karla", sans-serif;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
}

textarea {
  height: 150px;
}

/*footer*/

.page-footer {
  background: #242424;
  color: #fff;
  height: 50px;
}

.page-footer p {
  margin: 0;
  padding-top: 10px;
}
